@charset "UTF-8";/*꼭 넣기*/
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'HakgyoansimWoojuR';
}
*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
body{
    font-family: "GmarketSansMedium";
    font-size: 12px;
    line-height: 22px;
    color: #161514;
    /* background-color: #0A0E1B; */
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
    height: 100%;
    list-style: none;
}
a{color: #161514; text-decoration: none;}
#section_wrap,.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    content: "";
    display: block;
    z-index: 1;
  }
/*top*/
#top{
    width: 94%;
    height: 70px;
    margin: 0 auto;
    /* background-color: aqua; */
    position: relative;
    /* margin-bottom: 40px; */
    z-index: 2;
}
#top .logo{
    width: 240px;
    height: 50px;
    margin: 14px auto;
}
.logo{
    display: block;
}

/*gnb*/
.gnb{
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    position: relative;
    top: auto;
    left: auto;
    z-index: 99;
}
.gnb>li{
    float: left;
    text-align: center;
    margin: 24px;
    padding-inline: 4%;
    flex: none;
}
.gnb li a:hover{
    font-weight: bold;
}

/*banner*/
.banner1{
    margin-top: 20%;
    margin: 0 auto;
    width: 90%;
    height: 760px;
    background-image:url("../img/20240204_01.png");
    background-position: 20% 22%;
    border-radius: 16px;
}
/* .banner2{
    margin-top: 20%;
    margin: 0 auto;
    width: 90%;
    height: 760px;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 4.5px );
    box-shadow: 0 8px 32px 0 rgba(223, 214, 206, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 16px;
    background-image:url(/img/20240204_01.png);
    background-position: 20% 22%;
    border-radius: 16px;
    opacity: 0.2;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    position: relative;
} */
.banner2{
    position: relative;
}
.banner2::before {
    margin-top: 20%;
    margin: 0 auto;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.25;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: 90%;
    height: 760px;
    background-image:url("../img/20240204_01.png");
    background-position: 20% 22%;
  }
.banner2_text{
    margin: 0 auto;
    padding: 8%;
    font-size: 1.8rem;
}
.banner2_text h1{
    padding-bottom: 32px;
}
.banner2_text p{
    padding-bottom: 16px;
}
/*mini_character*/
.character_wrap{
    margin: 0 auto;
    height: auto;
    /* background-color: aqua; */
}
.mini_character{
    width: 90%;
    margin: 0 auto;
    margin: 20;
    border-radius: 16px;
    text-align: center;
}
.mini_character li{
    display: inline-block;
    border: 1px solid #fffefc;
    border-radius: 50px;
    background: #fffdf8;
    box-shadow: 12px 12px 29px #dedad9, -12px -12px 29px #fffdfc;
    border-radius: 16px;
    width: 300px;
    margin: 10px;
}
.mini_character p{
    color: rgb(255, 255, 253);
    position: relative;
    z-index: 99;
}
.mini_character .name_bg{
    background-color: #161514;
    border-radius: 0 0 16px 16px;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}
.mini_character img{
    display: inline-block;
    width: 100%;
}
/*character*/
/**/
.section_wrap{
    margin: 1% auto;
    height: 20%;
    /* background-color: #fff5f5; */
}
.section{
    margin: 0 auto;
    width: 70%;
    height: auto;
    margin-bottom: 40px;
    background: rgba(255,255,255,0.30);
    border-radius: 16px;
    border: #fffdfc 1px solid;
}
.character_box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.character_img{
    display: inline-block;
    /* width: 28%;
    height: 800px;
    background: url(../img/character_arika.png) center no-repeat;
    background-size: contain;
    background-color: aqua; */
}
.character_text{
    display: inline-block;
    width: 530px;
    height: 640px;
    /* background-color: rgba(83, 83, 92, 0.2); */
    border-radius: 30px;
    padding: 20px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.character_text p{
    font-size: 18px;
    word-break: break-all;
}
.character_text p:nth-child(3){
    font-size: 20px;
}
.character_text h1{
    font-size: 36px;
    padding-top: 20px;
}


#footer_wrap{
    position: relative;
    width: 100%;
    height: 16vw;
    z-index: 99;
    /* background-color: #0A0E1B; */
}
.footer{
    width: 94%;
    height: 15vw;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}